* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.bg-brand-1 { background-color: #41201f; }
.tx-brand-1 { color: #41201f; }
.bg-brand-2 { background-color: #d2d8d8; }
.tx-brand-2 { color: #d2d8d8; }
.bg-brand-3 { background-color: #a1a56c; }
.tx-brand-3 { color: #a1a56c; }
.bg-brand-4 { background-color: #926625; }
.tx-brand-4 { color: #926625; }
.bg-brand-5 { background-color: #6b0f1a; }
.tx-brand-5 { color: #6b0f1a; }

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.navbar-default {
	border-color: #e7e7e7;
}
.navbar-default .navbar-nav > li > a {
    color: #337ab7;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #6b0f1a;
}
.navbar-inverse .navbar-nav > li > a {
    color: #e7e7e7;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #e7e7e7;
}

.navbar-form {
	padding-left: 0;
}

.navbar-brand {
	padding: 0;
}

.navbar-brand > img {
	width: 250px;
	height: 52px;
}

.nav-icon a {
	height: 20px;
}

.navbar .glyphicon {
	margin-top: -5px;
	font-size: 30px;
}

#feat-slider {
	width: 100%;
	height: 400px;
	margin-bottom: 30px;
	overflow: hidden;
}

#feat-slider .carousel-caption {
	left: 0;
	top: 270px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.65);
}

#feat-slider .label {
	margin-left: 15px;
}
/*.accent {
	background: #37bc92;
}

.navbar {
	background: none;
	box-shadow: none;
	border: none;
	margin-bottom: 0;
	padding: 0;
}

.userbar {
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #333;
	color: #fff;
	text-shadow: none;
}
.userbar p {
	visibility: hidden;
}
.userbar ul {
	list-style-type: none;
}
.userbar ul li {
	display: inline-block;
}
.userbar ul li a {
	color: #fff;
	display: block;
	padding: 0 25px;
}
.userbar ul li a:hover {
	background: rgba(111, 111, 111, 1);
	text-decoration: none;
}
#feat-slider {
	width: 100%;
	height: 400px;
	margin: 30px 0;
}
footer {
	width: 100%;
	height: 250px;
	background: #333;
	margin-top: 50px;
	color: #fff;
}
.lists {
	margin-top: 60px;
}
.social {
	margin-top: 60px;
	text-align: center;
}
.social .col-xs-4 {
	margin-top: 25px;
}
.social .fa {
	font-size: 2em;
}
.item {
	height: 400px;
}
.products .row {
	margin-top: 25px;
	text-align: center;
}
.products .row .col {
	margin-top: 25px;
}
.workItem {
    width: 100%;
    height: 250px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.workItemOverlay {
    background: rgba(45, 115, 125, 0.5);
    text-align: center;
    padding: 125px 0 100px 0;
    opacity: 0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
}
.workItem:hover .workItemOverlay {
    opacity: 1;
}
.workItemOverlayTextName {
    font-size: 14px;
    padding: 3px 5px;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: bold;
}
.workItemOverlayTextCategory {
    font-size: 9px;
    padding: 5px 5px;
    color: pink;
}
.products a {
	text-decoration: none;
}
.subtotal {
	text-align: center;
}
.cart .col-md-4 button {
	width: 80%;
	margin: 0 10%;
}*/
