body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #f9f9f9;
}

h1, h2, h3, h4, h5, h6, label {
	font-family: 'Noto Serif', 'Palatino Linotype', 'Times', serif;
}

p, div, a {
	font-family: 'Lato', 'Helvetica', 'Verdana', sans-serif;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.btn-primary {
	background-color: #54697e;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.navbar-default {
	border-color: #f9f9f9;
}

.navbar-brand {
	margin-top: -5px;
}

.form-search {
	margin-top: 7px;
}

.navbar-default .navbar-nav > li > a {
    color: #54697e;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #6b0f1a;
}
.navbar-inverse .navbar-nav > li > a {
    color: #f6f6f6;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #f6f6f6;
}

.navbar-custom {
	height: 65px;
}

.navbar-custom ul {
	list-style: none;
}
.navbar-custom .social i {
	color: #54697e !important;
}
.navbar-custom .social li {
	margin: 15px 0 0 15px;
}

.navbar-form {
	padding-left: 0;
}

.custom-nav {
	height: auto;
	padding: 0;
}
.navbar-brand {
	padding: 0;
}
.navbar-brand > img {
	//margin: -10px 0;
	//width: 250px;
	//height: 52px;
}

.nav-icon a {
	height: 20px;
}

.navbar .glyphicon {
	margin-top: -5px;
	//font-size: 30px;
}

#feat-slider {
	width: 100%;
	height: 400px;
	margin-bottom: 30px;
	overflow: hidden;
}

#feat-slider .carousel-caption {
	left: 0;
	top: 270px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.65);
}

#feat-slider .label {
	margin-left: 15px;
}

.products .row {
	margin-top: 25px;
	text-align: center;
}
.products .row .col {
	margin-top: 25px;
}

footer {
	margin-top: 120px;
	background-color: #333;
	color: #f6f6f6;
}

label{
	font-size: 1.2em;
}

#sign_in_button{
	background-color: #9be13e;
	font-size: 1.1em;
}

#sign_in_button:hover{
	background-color: #578cof; /* can be changed later */
}

/* About Us Page */
ul{
    list-style: none;
	list-style-type: none;
}

.policy_list{
	font-size:18px;
	margin-bottom: 8px;
}

.team{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.gallery{
	margin-left: auto;
	margin-right: auto;
}

.gallery_img{
	margin-bottom: 10px;
	max-width: 100%;
}

.contact{
	width: 100%;
}

.address{
	/*text-align: center;*/
	font-size: 20px;
	margin-bottom: 5px;
}

#intro_paragraph{
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.profile_text{
	font-size: 18px;
}

/* Product Card Markup */
.card_container{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.questions{
	font-size: 18px;
	padding-bottom: 5px;
}

.card {
	display: inline-block;
	width: 30%;

	padding: 2%;
}

.card-title{
	font-size: 1.6em;
}

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    max-width: 100%;
	height: auto;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card2 {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

#price_num{
	font-size: 30px;
	margin-top: 5px;
}

.add-to-cart{
	font-weight: bold;
}

.like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
 .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

.add-to-cart, .checkout, .list_button{
	font-size: 1.2em;
}
.help-block {
	color: red;
}

.product-img {
	position: relative;
}
.product-img > button {
	position: absolute;
	right: 10px;
	bottom: 0;
}

.product-result > .thumbnail {
	height: 400px;
}
.product-result img {
	width: 240px;
	height: 220px;
}
.product-result .caption h4 {
	height: 39.6px;
}
.product-result .caption h4, .product-result .caption p {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-height: 1.1;
	height: 2.2;
}
.product-result .ratings {
	padding: 9px;
}
.product-count {
	margin: 20px 0;
}
.product-filters > .well {
	margin-top: 20px;
	height: 440px;
	background-color: #fff;
}

.full {
    width: 100%;
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}

/* Review Styles */
.review-box{
	margin-top: 40px;
}

.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.stars
{
    font-size: 24px;
}

.starrr{
	margin: 10px;
	font-size: 30px;
	color: #ff9f1a;
}

.review_text{
	font-size: 18px;
}

.prev_review{
	margin-bottom: 14px;
}

#review-area{
	border: 2px #ececec solid;
	background-color: #f5f5f5;
	padding: 15px;
}

#open-review-box{
	font-size: 18px;
}

#close-review-box{
	font-size: 16px;
}

#save_button{
	font-size: 20px;
}

/* Client Page CSS */
#profile_intro{
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.street1, .street2, .city, .state, .zip{
	font-size: 18px;
}

.prev_orders{
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

/* Footer */

.footer {
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #687d94;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #687d94;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}
.social {
	margin-top: 0 !important;
}
.social li {
	width: 40px;
	height: 40px;
	float: left;
	line-height: 40px;
	margin-right: 15px;
	margin-bottom: 15px;
	border-radius: 50%;
	text-align: center;
}
.social li a {
	color: #EDEFF1;
	cursor: pointer;
}
.social li:hover {
	background: #aecbe9;
}
footer .social li:hover {
	background: #54697e;
}
.social li a i {
	font-size: 2em;
	margin-top: 7px;
	color: #edeff1 !important;
}
.footer-bottom {
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.8em;
}
.newsletter p {
	color: #333;
	font-weight: 600;
	margin-bottom: 5px;
}


.input-group .input-group-btn div.btn {
    padding: 0;
    padding-top: 1px;
}
.input-group .input-group-btn div.btn .form-control {
    border: none;
    background-color: transparent;
    height: 100%;
}
    ul.list-unstyled li a {
        padding: 0.5em;
    }

.input-group-lg > .form-control, .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn>.btn {
	height: 36px;
}
.input-group-lg > .input-group-btn > .btn {
	padding: 6px 12px;
}
.navbar-collapse {
	padding: 8px 15px;
}

#add-product-btn {
	margin-top: 25px;
	margin-right: 30px;
}

.alert {
	margin-top: 25px;
}

.tab-content .form-control {
	margin: 15px 0;
}

.card-text{
	font-size: 18px;
}

.panel-home img {
	text-align: center;
	margin: auto;
}

.card-text{
	font-size: 18px;
}

.price{
	font-size: 24px;
}

.tab-content .form-control {
	margin: 15px 0;
}

.gallery_img{
	max-width: 100%;
}